@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
/*** Navbar Design ***/
#navbar {
    background: #f2bd00;
    color: #fff;
}
#navLogo {
    width: 80px;
    object-fit: cover;
}
.menuLink {
    font-size: 16px;
    font-family: 'Archivo Narrow', sans-serif;
    color: #110f0f;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.menuLink:hover {
    text-decoration: underline;
}
#btnBookSession {
    background: rgba(195, 30, 18, 0.89);
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    width: 200px;
    padding: 15px 10px;
    text-transform: uppercase;
    font-size: 18px;
} 
/*** Banner Design ***/
.banner {
    margin-top: 80px;
    width: 100%;
    object-fit: cover;
    background: linear-gradient(rgba(133, 111, 31, 0.5), rgba(0, 0, 0, 0.5)),url('.././src/images/mainpic-min.jpg');
    background-position: center center;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#missionContainer {
    margin-top: 180px;
}
#yellowText {
    color: yellow;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    font-family: sans-serif;
}
#mission {
    font-size: 70px;
    font-family: 'Archivo Black', sans-serif;
}
#btnJoinGroup {
    background:rgba(210, 92, 18, 0.958);
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    border: none;
    text-transform: uppercase;
    padding: 10px 10px;
    width: 200px;
}
/*** Achievement Design ***/
#achievement {
    background: rgb(16, 16, 59);
}
#help {
    font-size: 40px;
}
.numberBorder {
    border-top: 10px solid rgba(218, 34, 21, 0.89);
    width: 150px;
}
#number {
    font-size: 80px;
}
#numberTitle {
    font-size: 25px;
}
/** Claim Design **/
#benefit {
    font-size: 20px;
}
#claimContainer {
    background: linear-gradient(rgba(252, 255, 255, 0.869),rgba(252, 255, 255, 0.869), rgba(235, 153, 38, 0.89));
    overflow-x: hidden;
}
.claim {
    background: rgb(247, 247, 249);
}
#claimBorder {
    width: 100px;
    border-top: 5px solid #242323;
}
#codingTwo {
    height: 400px;
}
#btnEnroll {
    background:white;
    color: rgba(235, 153, 38, 0.89);
    border: 2px solid #fff;
    font-family: 'Archivo Black', sans-serif;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
}
/*** Programs Design ***/
.programsBg {
    background:rgb(16, 16, 59);
}
#programsImg {
    height: 250px;
}
#programName {
    font-size: 25px;
    color: rgba(245, 214, 19, 0.89);
}
#ourPrograms {
    font-size: 50px;
    color: #fff;
}
#programsCaption {
    color:rgba(245, 214, 19, 0.89);
}
#redefineTitle {
    font-size: 35px;
    color:rgb(16, 16, 59);
}
#btnLearn {
    background:rgba(229, 142, 20, 0.89);
    color: #fff;
    width: 200px;
    font-size: 18px;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}
#btnLearn:hover {
    background:rgb(16, 16, 59);
    border: 2px solid rgba(210, 92, 18, 0.958);
}
/*** Contact Design ***/
#contactContainer {
    transition: 0.5s ease-in-out;
}
#worriedContainer {
    border: none;
}
#worriedImg {
    height: 300px;
    transition: 0.9s all;
}
#talk {
    font-size: 25px;
}
#btnContact {
    outline: 2px solid rgba(218, 34, 21, 0.89);
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    width: 170px;
}
/*** Footer Design ***/
.footer {
    background: #201e17;
    color: #fff;
}
#footerLogo {
    width: 170px;
}
#footerText {
    font-size: 16px;
}
.fadeText {
    color:rgba(16, 15, 15, 0.5);
}
/*** Responsive Design ***/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #navbar {
        height: 80px;
    }
    #logo {
        width: 120px;
    }
    .banner {
        margin-top: 80px;
        height: 600px;
    }
    #missionContainer {
        margin-top: 80px;
    }
    #mission {
        font-size: 40px;
        word-wrap: break-word;
    }
    #codingImg {
        width: 100%;
    }
    #programName {
        font-size: 25px;
    }
    #singleProgram {
        display: inline-flex;
        justify-content: space-between;
    }
    #btnLearn, #btnEnroll, #btnJoinGroup {
        width: 160px;
        font-size: 16px;
    }
    .textGroup {
        margin-left: 35px;
    }
    #programsImg {
        width: 250px;
    }
    #number {
        font-size: 60px;
    }
    #help {
        font-size: 30px;
    }
}
@media screen and (min-width: 375px) and (max-width: 768px){
    .banner {
        margin-top: 50px;
        height: 600px;
    }
    #btnBookSession {
        display: none;
    }
    #mission, #help, #ourPrograms {
        font-size: 25px;
    }
    #btnJoinGroup {
        width: 150px;
        font-size: 16px;
        display: none;;
    }
    #numberTitle {
        font-size: 20px;
    }
    #claimSecColumn {
        width: 100%;
        overflow-x: hidden;
    }
    #codingTwo {
        width: 50%;
        height: 300px;
    }
}
@media screen and (max-width: 375px) {
    .banner {
        height: 600px;
    }
    #btnBookSession {
        display: none;
    }
    #help, #mission, #ourPrograms {
        font-size: 25px;
    }
    #btnJoinGroup {
        width: 150px;
        font-size: 16px;
    }
    #numberTitle {
        font-size: 20px;
    }
    #claimSecColumn {
        width: 100%;
        overflow-x: hidden;
    }
    #codingTwo {
        width: 50%;
        height: 200px;
    }
}
@media screen and (max-width: 280px) {
    #navbar {
        height: 60px;
    }
    #logo {
        width: 100px;
    }
    .banner {
        margin-top: 60px;
        height: 600px;
    }
    #btnBookSession {
        display: none;
    }
    #mission {
        font-size: 20px;
    }
    #help {
        font-size: 30px;
        text-align: center;
    }
    #btnJoinGroup {
        width: 150px;
        font-size: 16px;
    }
    #numberTitle {
        font-size: 20px;
    }
    #claimSecColumn {
        width: 100%;
        overflow-x: hidden;
    }
    #codingTwo {
       width: 50%;
       height: 150px;
    }
}